/* COMMON */
* {
  box-sizing: border-box;
}

:root {
  --color-text: #333;
  --color-main: #5dc19b;
  --color-main-light: #9FCCBB;
  --color-background: #fffff3;
  --swiper-theme-color: #5dc19b !important;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text);
  background-color: var(--color-background);

  height: 2000px;
}

a {
  display: block;
  text-decoration: none;
  color: var(--color-text) ;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

input, select {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f1f1f1;
  box-shadow: 0 0 5px #222;
}

/* Logo */
header .logo {
  margin-left: 20px;
}

/* Main Menu */
header .main-menu .main-menu__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .main-menu .main-menu__wrapper .main-menu__items {
  width: 150px;
  padding: 10px 0;
  position: relative;
}

header .main-menu .main-menu__wrapper .main-menu__items > span {
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-main);
  position: absolute;
  left: 75px;
  bottom: 0;
  transition: all .5s;
}

header .main-menu .main-menu__wrapper .main-menu__items:hover > span {
  width: 150px;
  transform: translateX(-75px);
}

header .main-menu .main-menu__wrapper .main-menu__items:hover > a {
  color: var(--color-main);
  font-weight: 700;
}

header .main-menu .main-menu__wrapper .main-menu__items > a {
  text-align: center;
  font-size: 25px;
}

/* Sub Menu */
header .sub-menu .sub-menu__wrapper {
  display: flex;
  margin-right: 20px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items {
  width: 50px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items > a {
  text-align: center;
  font-size: 12px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items:hover > a {
  color: var(--color-main);
  font-weight: 700;
}

/* MAIN */

/* Banner */
.banner {
  margin-top: 100px;
  height: 400px;
}

.banner .swiper {
  position: relative;
}

.banner .swiper-wrapper {
  align-items: center;
}

.banner .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 400px;
}

.banner .swiper .swiper-button-next,
.banner .swiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 4px #333;
}

.banner .swiper .swiper-button-next::after,
.banner .swiper .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 700;
}

.banner .swiper .pagination-wrpper {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  right: 25px;
  width: 230px;
  height: 23px;
  z-index: 1;
}

#banner-pause-button {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
  z-index: 1;
}

#banner-pause-button .material-icons {
  font-size: 5px;
}

.banner .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.banner .swiper .pagination-wrpper .swiper-pagination.swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.banner .swiper .pagination-wrpper .swiper-pagination .swiper-pagination-bullet-active{
  width: 45px;
  border-radius: 10px;
}

/* Search Area */
#search-area .inner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-area .search-box {
  width: 1000px;
  height: 100px;
  border: 3px solid var(--color-main);
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  column-gap: 20px;
}

#search-area .search-box > input {
  flex: 1;
  height: 100%;
  font-size: 20px;
}

#search-area .search-box .material-icons {
  font-size: 30px;
  cursor: pointer;
}

#main-search {
  width: 120px;
  cursor: pointer;
  font-size: 20px;
}

/* Best Seller */

#best-seller .inner {
  height: 550px;
}

#best-seller h4 {
  font-size: 45px;
  padding: 10px 25px 30px;
  height: 100px;
}

#best-seller .bs__wrapper {
  display: flex;
  height: 450px;
  column-gap: 2%;
}

#best-seller .bs__wrapper .bs--view {
  width: 65%;
  height: 100%;
  position: relative;
}

#best-seller .bs--view .swipe-menu {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper {
  display: flex;
  width: 7800px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-background);
  transition: .4s;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper.active {
  z-index: 2;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide {
  width: 780px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > a,
#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper {
  width: 37.5%;
  height: 100%;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > a > img {
  width: 225px;
  height: 350px;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper .title {
  font-size: 24px;
  font-weight: 700;
}

#best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;  
}

#best-seller .bs__wrapper .bs--list {
  width: 33%;
}

#best-seller .bs__wrapper .bs--list .bs--list__wrapper {
  height: 100%;
  overflow: hidden;
  border-bottom: 2px solid var(--color-main);
}

#best-seller .bs__wrapper .bs--list .bs--list__wrapper .bs-list-nav {
  height: 50px;
  border-top: 2px solid var(--color-main);
  border-bottom: 2px solid var(--color-main);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#best-seller .bs__wrapper .bs--list .bs--list__wrapper .bs-list-nav > span {
  display: inline-block;
  width: 28%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

#best-seller .bs__wrapper .bs--list .bs--list__wrapper .bs-list-nav > span.active {
  color: var(--color-main);
  font-weight: 700;
}


#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper {
  display: flex;
  column-gap: 10px;
  width: 300%;
  height: 400px;
  padding: 10px;
  transition: .5s;
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items {
  width: 100%;
  position: relative;
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li.active > span {
  color: var(--color-main);
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li + li {
  border-top: 1px solid var(--color-main-light);
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li > span {
  display: inline-block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items .rank {
  text-align: center;
  width: 10%;
  font-size: 23px;
  font-weight: 700;
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items .title {
  width: 55%;
}

#best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items .writer {
  width: 20%;
}