/* COMMON */
* {
  box-sizing: border-box;
}

:root {
  --color-text: #333;
  --color-main: #6c3373;
  --color-background: #fffff2;
  --swiper-theme-color: #6c3373 !important;
}

body {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  display: block;
  text-decoration: none;
  color: var(--color-text) ;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

/* header */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  background-color: #b9acc9;
}

header .logo {
  margin-left: 20px;
}

header .main-menu .main-menu__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .main-menu .main-menu__wrapper .main-menu__items {
  width: 150px;
  padding: 10px 0;
  position: relative;
}

header .main-menu .main-menu__wrapper .main-menu__items > span {
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-main);
  position: absolute;
  left: 75px;
  bottom: 0;
  transition: all .5s;
}

header .main-menu .main-menu__wrapper .main-menu__items:hover > span {
  width: 150px;
  transform: translateX(-75px);
}

header .main-menu .main-menu__wrapper .main-menu__items:hover > a {
  color: var(--color-main);
  font-weight: 700;
}

header .main-menu .main-menu__wrapper .main-menu__items > a {
  text-align: center;
  font-size: 25px;
}

header .sub-menu .sub-menu__wrapper {
  display: flex;
  margin-right: 20px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items {
  width: 50px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items > a {
  text-align: center;
  font-size: 12px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items:hover > a {
  color: var(--color-main);
  font-weight: 700;
}

/* main */

/* banner */
.banner {
  margin-top: 100px;
  height: 400px;
}

.banner .swiper {
  position: relative;
}

.banner .swiper-wrapper {
  align-items: center;
}

.banner .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 400px;
}

.banner .swiper .pause-button {
  display: block;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
}

.banner .swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}


.banner .swiper .pause-button .material-icons {
  font-size: 5px;
}