/* COMMON */
* {
  box-sizing: border-box;
}

:root {
  --color-text: #333;
  --color-main: #6c3373;
  --color-background: #fffff2;
  --swiper-theme-color: #6c3373 !important;
}

body {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  display: block;
  text-decoration: none;
  color: var(--color-text) ;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  background-color: #b9acc9;
  box-shadow: 0 0 5px #222;
}

/* Logo */
header .logo {
  margin-left: 20px;
}

/* Main Menu */
header .main-menu .main-menu__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .main-menu .main-menu__wrapper .main-menu__items {
  width: 150px;
  padding: 10px 0;
  position: relative;
}

header .main-menu .main-menu__wrapper .main-menu__items > span {
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-main);
  position: absolute;
  left: 75px;
  bottom: 0;
  transition: all .5s;
}

header .main-menu .main-menu__wrapper .main-menu__items:hover > span {
  width: 150px;
  transform: translateX(-75px);
}

header .main-menu .main-menu__wrapper .main-menu__items:hover > a {
  color: var(--color-main);
  font-weight: 700;
}

header .main-menu .main-menu__wrapper .main-menu__items > a {
  text-align: center;
  font-size: 25px;
}

/* Sub Menu */
header .sub-menu .sub-menu__wrapper {
  display: flex;
  margin-right: 20px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items {
  width: 50px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items > a {
  text-align: center;
  font-size: 12px;
}

header .sub-menu .sub-menu__wrapper .sub-menu__items:hover > a {
  color: var(--color-main);
  font-weight: 700;
}

/* MAIN */

/* Banner */
.banner {
  margin-top: 100px;
  height: 400px;
}

.banner .swiper {
  position: relative;
}

.banner .swiper-wrapper {
  align-items: center;
}

.banner .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 400px;
}

.banner .swiper .swiper-button-next,
.banner .swiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 4px #333;
}

.banner .swiper .swiper-button-next::after,
.banner .swiper .swiper-button-prev::after {
  font-size: 20px;
  font-weight: 700;
}

.banner .swiper .pagination-wrpper {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  right: 25px;
  width: 230px;
  height: 23px;
  z-index: 1;
}

#banner-pause-button {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
  z-index: 1;
}

#banner-pause-button .material-icons {
  font-size: 5px;
}

.banner .swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.banner .swiper .pagination-wrpper .swiper-pagination.swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.banner .swiper .pagination-wrpper .swiper-pagination .swiper-pagination-bullet-active{
  width: 45px;
  border-radius: 10px;
}

/* Search Area */