/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .inner {
    max-width: 750px;
  }

  h4 {
    font-size: 40px;
    padding: 5px 12.5px 15px;
    height: 75px;
  }


  /* Header */
  header .main-menu .main-menu__wrapper .main-menu__items {
    width: 85px;
  }

  header .main-menu .main-menu__wrapper .main-menu__items > span {
    left: calc(85px / 2);
  }

  header .main-menu .main-menu__wrapper .main-menu__items:hover > span {
    width: 85px;
    transform: translateX(calc(-85px / 2));
  }

  header .main-menu .main-menu__wrapper .main-menu__items > a {
    font-size: 16px;
  }

  header .sub-menu .sign-up {
    display: none;
  }


  /* Best Seller */
  #best-seller .inner {
    height: 450px;
  }
  
  #best-seller .bs__wrapper {
    height: 350px;
    column-gap: 1%;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper {
    width: 4850px;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide {
    width: 485px;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > a > img {
    width: 150px;
    height: 225px;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper .title {
    font-size: 16px;
  }
  
  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper .contents {
    font-size: 12px;
  }

  #best-seller .bs__wrapper .bs--list .bs--list__wrapper .bs-list-nav {
    height: 40px;
  }

  #best-seller .bs__wrapper .bs--list .bs--list__wrapper .bs-list-nav > span {
    font-size: 16px;
  }

  #best-seller .bs__wrapper .bs--list .bs-list-item__wrapper {
    height: 310px;
  }

  #best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li {
    height: 29px;
  }

  #best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li > span {
    font-size: 14px;
  }


  /* New */
  #new .inner {
    height: 950px;
  }

  #new .new-wrapper {
    row-gap: 20px;
    height: 850px;
  }

  #new .new-wrapper .new-contents {
    width: 45%;
  }


  /* Genre */
  #genre .genre-wrapper .genre-items .contents__items img {
    width: 125px;
    height: 175px;
  }

  #genre .genre-wrapper .genre-items .contents__items .title {
    width: 45%;
    left: 145px;
    font-size: 18px;
    font-weight: 700;
  }

  #genre .genre-wrapper .genre-items .contents__items .writer {
    width: 40%;
    left: 145px;
    font-size: 14px;
  }

  #genre .genre-wrapper .genre-items .contents__items .price {
    bottom: 20px;
    left: 145px;
  }

  #genre .genre-wrapper .genre-items .contents__items .more {
    top: 2px;
    right: 10px;
    font-size: 12px;
  }


  /* AI */
  #ai .ai-contents span {
    margin-top: 14px;
    font-size: 14px;
  }

  /* Event */
  #event .swiper .swiper-wrapper .swiper-slide img {
    width: 650px;
  }

  #event .swiper .swiper-wrapper .swiper-slide .span-wrapper .title {
    font-size: 18px;
    font-weight: 700;
  }
  
  #event .swiper .swiper-wrapper .swiper-slide .span-wrapper .contents {
    font-size: 15px;
  }
}




/* Mobile */
@media screen and (max-width: 768px) {
  .inner { 
    width: 100%;
  }

  h4 {
    font-size: 30px;
    padding: 5px 12.5px 15px;
    height: 60px;
  }


  /* Header */
  header {
    height: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  header .logo {
    width: 90px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
  }

  header .logo img {
    width: 100%;
    height: 100%;
  }

  header .main-menu,
  header .sub-menu {
    display: none;
  }

  .hamburger {
    position: absolute;
    top: 15px;
    right: 25px;
    display: block;
    width: 24px;
    height: 24px;
  }

  .hamburger span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: var(--color-text);
    margin: 5px 0;
    border-radius: 1px;
    transition: transform 0.5s,opacity 0.5s;
  }

  .hamburger span.active:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger span.active:nth-child(2){
    opacity: 0;
  }
  .hamburger span.active:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  header.active {
    height: 310px;
  }

  header.active .main-menu {
    display: block;
    height: 260px;
  }

  header .main-menu .main-menu__wrapper {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  header .main-menu .main-menu__wrapper > li:first-child {
    width: 300px;
    background-color: var(--color-main-light);
  }

  header .main-menu .main-menu__wrapper .main-menu__items {
    padding: 5px;
  }

  header .main-menu .main-menu__wrapper .main-menu__items > div.mini-search {
    display: block;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .main-menu .main-menu__wrapper .main-menu__items > div.mini-search input {
    width: 250px;
  }

  header .main-menu .main-menu__wrapper .main-menu__items > a {
    font-size: 16px;
  }

  header.active .sub-menu {
    display: block;
  }

  header .sub-menu .sub-menu__wrapper {
    margin: 20px 0;
  }


  /* banner */
  .banner {
    margin-top: 60px;
    height: 200px;
  }

  .banner .swiper-wrapper .swiper-slide img{
    height: 200px;
  }
  

  /* Search Area */
  #search-area {
    display: none;
  }


  /* Best Seller */
  #best-seller .bs__wrapper {
    column-gap: 0;
    justify-content: center;
  }

  #best-seller .bs__wrapper .bs--view {
    display: none;
  }

  #best-seller .bs__wrapper .bs--list {
    width: 90%;
  }







  /* New */
  #new .new-wrapper .new-contents {
    width: 90%;
  }


  /* Event */
  #event .swiper .swiper-wrapper .swiper-slide img {
    width: 200px;
  }
} 