@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .inner {
    max-width: 750px;
  }

  h4 {
    font-size: 40px;
    padding: 5px 12.5px 15px;
    height: 75px;
  }


  /* Header */
  header .main-menu .main-menu__wrapper .main-menu__items {
    width: 85px;
  }

  header .main-menu .main-menu__wrapper .main-menu__items > span {
    left: calc(85px / 2);
  }

  header .main-menu .main-menu__wrapper .main-menu__items:hover > span {
    width: 85px;
    transform: translateX(calc(-85px / 2));
  }

  header .main-menu .main-menu__wrapper .main-menu__items > a {
    font-size: 16px;
  }

  header .sub-menu .sign-up {
    display: none;
  }


  /* Best Seller */
  #best-seller .inner {
    height: 450px;
  }
  
  #best-seller .bs__wrapper {
    height: 350px;
    column-gap: 1%;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper {
    width: 4850px;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide {
    width: 485px;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > a > img {
    width: 150px;
    height: 225px;
  }

  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper .title {
    font-size: 16px;
  }
  
  #best-seller .bs--view .swipe-menu .swipe-menu-wrapper .swipe-menu-slide > .span-wrapper .contents {
    font-size: 12px;
  }

  #best-seller .bs__wrapper .bs--list .bs--list__wrapper .bs-list-nav {
    height: 40px;
  }

  #best-seller .bs__wrapper .bs--list .bs--list__wrapper .bs-list-nav > span {
    font-size: 16px;
  }

  #best-seller .bs__wrapper .bs--list .bs-list-item__wrapper {
    height: 310px;
  }

  #best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li {
    height: 29px;
  }

  #best-seller .bs__wrapper .bs--list .bs-list-item__wrapper .bs-list-items > li > span {
    font-size: 14px;
  }


  /* New */
  #new .inner {
    height: 950px;
  }

  #new .new-wrapper {
    row-gap: 20px;
    height: 850px;
  }

  #new .new-wrapper .new-contents {
    width: 45%;
  }


  /* Genre */
  #genre .genre-wrapper .genre-items .contents__items img {
    width: 125px;
    height: 175px;
  }

  #genre .genre-wrapper .genre-items .contents__items .title {
    width: 45%;
    left: 145px;
    font-size: 18px;
    font-weight: 700;
  }

  #genre .genre-wrapper .genre-items .contents__items .writer {
    width: 40%;
    left: 145px;
    font-size: 14px;
  }

  #genre .genre-wrapper .genre-items .contents__items .price {
    bottom: 20px;
    left: 145px;
  }

  #genre .genre-wrapper .genre-items .contents__items .more {
    top: 2px;
    right: 10px;
    font-size: 12px;
  }


  /* AI */
  #ai .ai-contents span {
    margin-top: 14px;
    font-size: 14px;
  }

  /* Event */
  #event .swiper .swiper-wrapper .swiper-slide img {
    width: 650px;
  }

  #event .swiper .swiper-wrapper .swiper-slide .span-wrapper .title {
    font-size: 18px;
    font-weight: 700;
  }
  
  #event .swiper .swiper-wrapper .swiper-slide .span-wrapper .contents {
    font-size: 15px;
  }
}